@model List<Product>

<table class="table table-success table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">Detaya Git</a></td>
            </tr>
        }

    </tbody>
</table>
<a asp-controller="Product" asp-action="Create" type="button" class="btn btn-primary">Ürün Ekle</a>